

.Button{
       display: inline-block; 
       margin: 0 16px ;
       cursor: pointer ;  
       width: 7rem;
       padding: 16px 0;
       font-size: 20px;
       box-sizing: border-box;
}

.ButtonArea{

    text-align: center;
    margin-top: 40px;
}

.Button:nth-of-type(1){
    color: green;
}

.Button:nth-of-type(1):hover{
    color: green;
    border-bottom: 1px solid green ;       
}

.Button:nth-of-type(2){
    color: red;
}

.Button:nth-of-type(2):hover{
    color: red;
    border-bottom: 1px solid red ;    
}